@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url('../fonts/Firasanslight.woff2') format("woff2"),
    url('../fonts/Firasanslight.woff') format("woff");
  font-style: normal;
}

body {
  font-family: "Open Sans";
  color: b6bac4;
}

ul,
p,
h3 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #b6bac4;
}

h3 {
  color: #fff;
  font-size: 20px;
}

span {
  display: block;
  margin-top: 3px;
  color: #575e6c;
  font-size: 14px;
}

p {
  font-size: 14px;
  color: #b6bac4;
}

ul {
  margin-top: 50px;
}

a {
  display: block;
  margin-top: 13px;
  transition: 0.3s all ease;
}

a:hover {
  color: #fff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #151525;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.footer-top {
  display: flex;
}

.wrapper-cooperate {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-left: 30px;
  padding-bottom: 18px;
  width: 370px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-company {
  width: 130px;
}

.footer-cooperation {
  width: 210px;
}

.footer-pressсenter {
  margin-left: 30px;
  width: 130px;
}

.footer-career {
  width: 210px;
  margin-left: 30px;
}

.footer-contacts {
  position: relative;
  margin-left: 30px;
  width: 130px;
}

.footer-contacts p:first-of-type {
  margin-top: 0;
}

.wrapper-mobile {
  margin-top: 50px;
}

.footer-career--button {
  margin-top: 80px;
  padding: 15px 39px;
  border: 1px solid #b6bac4;
  background-color: transparent;
  color: #b6bac4;
  font-size: 16px;
	cursor: pointer;
  transition: 0.3s all ease;
}

.footer-career--button:hover {
	background-color: #fff;
	color: #151525;
	border: 1px solid #fff;
}


.footer-bottom {
  margin-top: 30px;
  padding-top: 45px;
  border-top: solid 1px #b6bac4;
}

.footer-bottom p {
  display: inline-block;
}

.footer-bottom a {
  display: inline-block;
}

.wrapper-mobile p {
  display: block;
  margin-top: 13px;
}

.footer-bottom-right {
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.footer-bottom-right svg {
  vertical-align: middle;
}

.icons {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #666875;
}

.icons a {
	display: inline-block;
	font-size: 25px;
}
.icons a:nth-child(1) {
  margin-right: 15px;
}

.icons a:nth-child(2) {
  margin-right: 15px;
}